/..checked-atomic-arch-fallback.h.cmd
/..checked-atomic-instrumented.h.cmd
/..checked-atomic-long.h.cmd
/.checked-atomic-arch-fallback.h
/.checked-atomic-instrumented.h
/.checked-atomic-long.h
/.config.old
/.linux.tar.gz.cmd
/.missing-syscalls.d
/.tmp_HEAD
/.version
/linux.tar.gz
.idea/
.vscode/
.DS_Store

# Built stuff
/linux/include/config/
/linux/Module.symvers
*.o
*.cmd
generated
/linux/scripts/dtc/dtc-lexer.lex.c
/linux/scripts/dtc/dtc-parser.tab.c
/linux/scripts/dtc/dtc-parser.tab.h
/linux/scripts/mod/devicetable-offsets.s
/linux/scripts/kconfig/lexer.lex.c
/linux/scripts/kconfig/parser.tab.c
/linux/scripts/kconfig/parser.tab.h
/tools/benchmarks/sum_up_benchmark/.tmp-automatic-created-result
